{#
    This template is used to render errors of type HTTP 500 (Internal Server Error)

    This is the simplest way to customize error pages in Symfony applications.
    In case you need it, you can also hook into the internal exception handling
    made by Symfony. This allows you to perform advanced tasks and even recover
    your application from some errors.
    See http://symfony.com/doc/current/cookbook/controller/error_pages.html
#}

{% extends 'SariAppBundle::Front/layout.html.twig' %}

{% block title %} Erreur 500 - Suivi des étudiants{% endblock %}

{% block body %}
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Erreur 500
                </h1>

                <p class="lead">
                    Il y a une erreur de serveur.
                </p>
                <p>
                    Essayez de charger cette page dans quelques minutes ou
                    <a href="{{ path('homepage') }}">revenir à la page d'accueil</a>.
                </p>
            </div>
        </div>
    </div>
{% endblock %}