{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1>Verification email
                    <small>{{ app.user }}</small>
                </h1>
            </div>
        </div>
    </div>

    <p>{{ 'resetting.check_email'|trans({'%email%': email}) }}</p>
{% endblock %}
