{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% if error %}
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1>{{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                    <small></small>
                </h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            {% include 'SariUserBundle:modules:login_form.html.twig' %}
        </div>
    </div>

{% endblock fos_user_content %}
