{% extends 'SariAppBundle::Front/layout.html.twig' %}

{% block body %}

    <div class="jumbotron jumbotron-sm">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <h1 class="h1">
                        Nous Contactez
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="page-header">
                <h1>Page de contact
                    <small>IUT de Lens</small>
                </h1>
            </div>
            <div class="col-md-4">
                <form>
                    <legend><span class="glyphicon glyphicon-globe"></span> Contact</legend>
                    <address>
                        <strong>IUT de Lens</strong><br>
                        Rue de l’université - SP 16 <br>
                        Lens, 62300<br>
                        <abbr title="Téléphone">
                            P:</abbr>
                        03 21 79 32 32
                    </address>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
