{% for flash_message in app.session.flashbag.get('danger') %}
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><i class="icon fa fa-times"></i> Danger !</h4>
        {{ flash_message }}
    </div>
{% endfor %}

{% for flash_message in app.session.flashbag.get('warning') %}
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><i class="icon fa fa-exclamation-circle"></i> Attention !</h4>
        {{ flash_message }}
    </div>
{% endfor %}

{% for flash_message in app.session.flashbag.get('info') %}
    <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><i class="icon fa fa-info-circle"></i> Information !</h4>
        {{ flash_message }}
    </div>
{% endfor %}

{% for flash_message in app.session.flashbag.get('success') %}
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><i class="icon fa fa-check"></i> Succès !</h4>
        {{ flash_message }}
    </div>
{% endfor %}